<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="images/favicon.png">

    <title>Shareview Bitrix Component</title>

    <script src="https://use.fontawesome.com/6530bac4ad.js"></script>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>

    <!-- @@include  = partials/_blocks/top-menu.html-->
    <!-- @@include  = partials/header.html-->
    <!-- @@include  = partials/_blocks/component-demo-links.html-->
    <!-- @@include  = partials/footer.html-->
    <!-- @@include  = partials/copyright.html-->

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</body>

</html>