@import "icons";


.shareview-yandex {


  .bluring {
    filter: blur(2px);
  }


  @import "animate";
  @import "loading";
  @import "field";
  @import "base";


  &__header {
    border: 1px solid #e7e3e7;
    padding: 20px;

    h1 {
      text-align: center;
    }
  }
}