button, input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}

.button {
  background-color: $color-green;
  border: 1px solid darken($color-green, 10%);
  border-radius: 6px;
  color: #fff;
  display: inline-block;
  font-size: 0.75rem;
  letter-spacing: 0.063rem;
  line-height: 0.875rem;
  padding: 1rem 2rem;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  outline: 0;

  &:hover {
    background-color: $color-blue;
    border-color: $color-border-blue;
    color: #fff;
  }

  &.disabled {
    opacity: 0.5;
    cursor: default;
  }

  &--no-bg {
    background-color: rgba(0,0,0,0);
    color: $color_no_matter;
    font-weight: bold;
  }

  &--link {
    padding: 0.3rem 1rem;
    margin: 0 10px;
  }
}

.field {
  margin-bottom: 1rem;

  button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
  }

  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #dde5e8
  }

  input::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #dde5e8
  }

  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #dde5e8
  }

  label {
    display: block;
    color: #000;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }

  input {
    line-height: normal;
  }

  input, textarea, select {
    background-color: #FFFFFF;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 6px;
    color: rgb(85, 85, 85);
    font-size: 1rem;
    font-weight: 600;
    outline: 0 none;
    padding: 0.635rem 1rem;
    width: 100%;

    &:hover, &:focus {
      border-color: #364448;
    }
  }

  .ahr-select {
    position: relative;
    cursor: pointer;

    select {
      background-image: none;
      padding-right: 20px !important;
      cursor: pointer;

      /* for FF */
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: '';
      /* for IE */
      -ms-appearance: none;
      appearance: none!important;

      &:-ms-expand {
        display: none;
      }
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 8px solid #afc3c9;
      right: 5px;
      top: 50%;
      margin-top: -4px;
      pointer-events: none;
      cursor: pointer;
    }
  }

  label, .field-description, .field-error {
    padding-left: 1rem;
    text-align: left;
  }

  .field-error {
    color: #ff6b6b;
    font-size: 0.688rem;

    &:not(:empty) {
      margin-bottom: 0.75rem;
      margin-top: 0.5rem;
    }
  }

  .field-input {
    position: relative;

    &:before {
      background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjIwIiB3aWR0aD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDIwIDIwIj48cGF0aCBmaWxsPSIjMjFkMzkwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik05LjY0IDE5LjI4YzUuMzEgMCA5LjYxLTQuMyA5LjYxLTkuNjEgMC01LjMtNC4zLTkuNi05LjYxLTkuNlMuMDMgNC4zNy4wMyA5LjY3YzAgNS4zMSA0LjMgOS42MSA5LjYxIDkuNjF6bTMuOTctMTEuMDFjLjQxLS40MS40MS0xLjA3IDAtMS40Ny0uNDItLjQxLTEuMDktLjQxLTEuNSAwbC0zLjQ4IDMuNDItMS4yNy0xLjI1Yy0uNDEtLjQtMS4wOC0uNC0xLjQ5IDAtLjQxLjQxLS40MSAxLjA3IDAgMS40N2wyLjIyIDIuMTljLjMuMy43OS4zIDEuMDkgMGw0LjQzLTQuMzZ6bTAgMCIvPjwvc3ZnPg==);
      background-repeat: no-repeat;
      background-position: 0 0;
      height: 21px;
      margin-top: -10.5px;
      position: absolute;
      right: -2rem;
      top: 50%;
      width: 21px;
    }
  }

  &__invalid {
    input {
      border-color: #a63c3c;
    }

    .field-input {
      &:before {
        background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjIxIiB3aWR0aD0iMjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDIxIDIxIj48cGF0aCBmaWxsPSIjZmY2YjZiIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMC4wNyAyMC40YzUuNTMgMCAxMC00LjQ4IDEwLTEwIDAtNS41My00LjQ3LTEwLTEwLTEwLTUuNTIgMC0xMCA0LjQ3LTEwIDEwIDAgNS41MiA0LjQ4IDEwIDEwIDEwem0xLjM0LTEwLjA3bDEuOS0xLjkxYy4zNS0uMzUuMzUtLjkxIDAtMS4yNmEuODg3Ljg4NyAwIDAgMC0xLjI2IDBsLTEuOTEgMS45Yy0uMDMuMDQtLjEuMDQtLjE0IDBsLTEuOS0xLjlhLjg4Ny44ODcgMCAwIDAtMS4yNiAwYy0uMzUuMzUtLjM1LjkxIDAgMS4yNmwxLjkgMS45MWMuMDQuMDMuMDQuMSAwIC4xNGwtMS45IDEuOWMtLjM1LjM1LS4zNS45MiAwIDEuMjYuMzUuMzUuOTEuMzUgMS4yNiAwbDEuOS0xLjljLjA0LS4wNC4xMS0uMDQuMTQgMGwxLjkxIDEuOWMuMzUuMzUuOTEuMzUgMS4yNiAwIC4zNS0uMzQuMzUtLjkxIDAtMS4yNmwtMS45LTEuOWMtLjA0LS4wNC0uMDQtLjExIDAtLjE0em0wIDAiLz48L3N2Zz4=);
        background-repeat: no-repeat;
        background-position: 0 0;
        content: "";
      }
    }
  }

  &__invalid-in {
    .field-input {
      &:before {
        right: 0.5rem;
      }
    }
  }

  &.field__valid {
    .field-input {
      &:before {
        content: "";
      }
    }
  }

  &.field__valid-in {
    .field-input {
      &:before {
        right: 0.5rem;
      }
    }
  }

  .field-description {
    color: #364448;
    font-size: 0.625rem;
    line-height: 0.75rem;
    margin-top: 0.25rem;

    &__required {
      color: #acc1c7;
    }
  }

  &__checkbox {
    width: auto;

    input {
      opacity: 0;
      position: absolute;
      width: auto;

      &:disabled {
        opacity: 0.5;
      }
    }

    label {
      color: #afc3c9;
      display: inline-block;
      font-size: 0.69rem;
      margin: 0;
      padding: 0 0 0 1.5rem;
      position: relative;
      cursor: pointer;
    }

    input:checked + label, input:focus + label {
      color: #000;
    }

    label {
      &:before {
        box-sizing: border-box;
        content: "";
        left: 0;
        top: 50%;
        background-color: #fff;
        border: 0.125rem solid #afc3c9;
        border-radius: 0.25rem;
        display: inline-block;
        height: 1rem;
        margin-top: -0.55rem;
        position: absolute;
        vertical-align: middle;
        width: 1rem;
      }
    }

    input:checked + label:before {
      background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjciIHdpZHRoPSIxMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTAgNyI+PHBhdGggZmlsbD0iIzIxZDM5MCIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNOS4xOSAyLjE3Yy40My0uNDIuNDMtMS4xMSAwLTEuNTNhMS4xMSAxLjExIDAgMCAwLTEuNTUgMEw0LjAyIDQuMiAyLjY5IDIuOWExLjExIDEuMTEgMCAwIDAtMS41NSAwYy0uNDMuNDItLjQzIDEuMTEgMCAxLjUzbDIuMzEgMi4yOGMuMzEuMzEuODIuMzEgMS4xMyAwbDQuNjEtNC41NCIvPjwvc3ZnPg==);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      border-color: #364448;
    }
  }

  &__inline {
    .field-input, .field-value, label {
      display: inline-block;
      margin-bottom: 0.5rem;
      vertical-align: middle;
    }
    label {
      margin-bottom: 0.5rem;
      padding-right: 1rem;
    }
  }
}