#header {
  display: block;
  background: url(../images/header-bg-blur.jpg);
  background-attachment: fixed;
  position: relative;

  .header {
    position: relative;
    padding: 45px 0;

    &:after {
      @include before-clear();
    }

    &--z-index {
      z-index: 1;
    }

    &--text-white {
      color: #FFFFFF;
    }

    &__left {
      float: left;
      width: 50%;
      padding: 80px 30px;

      h1 {
        text-align: center;
      }

      p {
        width: 90%;
        margin: 0 auto;
      }
    }

    &__right {
      float: right;
      width: 50%;
      padding: 80px 30px;
      text-align: center;

      &:before {
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        content: '';
      }

      .logo-img {
        display: inline-block;
        vertical-align: middle;
        opacity: 0.8;
        position: relative;

        img {
          width: 400px;
        }

        .logo-review {
          position: absolute;
          background-color: $color-green;
          border: 1px solid darken($color-green, 10%);
          padding: 40px;
          width: 300px;
          font-size: 10px;
          line-height: 10px;
          border-radius: 30px;
          opacity: 0.5;
          top: 0;
          left: 0;

          &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 10px solid 1px solid darken($color-green, 10%);
          }
        }
      }
    }

    &__button {
      text-align: center;

      .button {
        margin: 60px 0 0 0;
      }
    }
  }
}