.top-panel {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
  border-color: #080808;
  padding: 5px;
  margin: 0;
  z-index: 1000;

  &:after {
    @include before-clear();
  }

  &__logo {
    position: relative;
    float: left;
    top: -1px;

    .edition {
      position: absolute;
      font-size: 10px;
      line-height: 10px;
      right: -27px;
      top: 30px;
    }
  }

  &__menu {
    float: right;

    .menu {
      li {
        margin: 0;
        padding: 0;

        a {
          font-family: 'Comfortaa', cursive;
          color: #ffffff;
          font-weight: 400;
          text-transform: lowercase;
          padding: 6px 2px 5px 2px;
          margin: 0 13px 3px 16px;
          border-radius: 2px;
          text-decoration: none;
          letter-spacing: .12rem;

          &:hover, &:focus, &.active {
            border-bottom: 1px solid rgba($color-blue, 0.5);
            outline: medium none !important;
            text-decoration: none;
          }
        }

        &.botton {
          a {
            border-bottom: 1px solid rgba($color-green, 0.5);

            &:hover {
              background-color: $color-blue;
              border: 1px solid $color-border-blue;
              padding: 5px 14px 8px 14px;
              margin-left: 3px;
              margin-right: 0;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}