/* Main settings */
$main-background: rgb(255,255,255);
$main-font-family: Verdana, sans-serif;
$main-font-size: 14px;
$main-line-height: 1.5;
$main-color: rgb(51,51,51);

/* Colors */
$color_no_matter: rgb(149,165,166);
$color-a: rgb(62,132,194);
$color-a-hover: darken($color-a,15%);

$color-green: #41AB34;