<nav class="top-menu">
    <nav class="container">
        <div class="left-block">
            <div class="logo">
                <a href="/">sha<i>Re</i>view</a>
                <span>1С-Битрикс</span>
            </div>
            <div class="menu">
                <a href="#"></a>
            </div>
        </div>
        <div class="right-block">
            <div class="authorization">
                <a href="#" class="button button--opacity">авторизация</a>
                <a href="#" class="button button--opacity">вход</a>
            </div>
        </div>
    </nav>
</nav>