.top-menu {
  background: #002538;
  height: 70px;
  white-space: nowrap;
  color: #ffffff;

  .logo {
    position: relative;
    padding:10px 20px 0 0;
    margin: 0 20px 0 0;

    &:after {
      right: 0;
      position: absolute;
      content: '';
      display: inline-block;
      background: #fafafa;
      opacity: .15;
      height: 40px;
      width: 1px;
      top: 15px;
    }
  }
}