<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Shareview Bitrix Component</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <header>
        <div class="top-panel">
            <div class="logo top-panel__logo">
                <a href="#">Shareview</a>
            </div>
            <div class="menu menu--horizontal top-panel__menu">
                <ul>
                    <li><a href="#">Регистрация</a></li>
                    <li><a href="#">Подключиться</a></li>
                    <li><a href="#">Тарифы</a></li>
                </ul>
            </div>
        </div>
    </header>
    <section>
        <h1>Shareview Bitrix Component</h1>
    </section>
    <footer>
        <p>Copyright &copy; 2016</p>
    </footer>

    <script src="js/main.js"></script>
</body>

</html>