.connect {
  background-color: #FFFFFF;

  .pipe__button {
    .button {
      padding: 1.1rem;
    }
  }

  &__blocks {
    display: table;
    padding: 0 0 70px 0;
    width: 100%;

    &:after {
      @include before-clear();
    }
  }

  &-item {
    display: table-cell;
    width: 33.3333%;
    text-align: center;
    padding: 0 20px 50px 20px;
    position: relative;

    &__icon {
      font-size: 100px;
      line-height: 40px;
      text-align: center;
    }

    &__title {
      font-size: 25px;
      line-height: 25px;
      padding: 25px 0 10px 0;
    }

    &__description {
      color: $color_no_matter;
      padding: 0 0 25px 0;
    }

    &__button {
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center;
      width: 100%;
    }

    &--registration {
      .connect-item__icon { color: rgb(82, 173, 129); }
    }
    &--paying {
      .connect-item__icon { color: rgb(205, 90, 72); }
    }
    &--reviews {
      .connect-item__icon { color: rgb(81, 169, 214); }
    }
  }
}