.tariffs {
  background-color: #52AD81;
  padding: 0 0 40px 0;

  &__blocks {
    display: table;
    width: 100%;

    &:after {
      @include before-clear();
    }
  }

  &__items {
    display: table-cell;
    width: 33.3333%;
    padding: 0 5px;

    &:first-child {
      padding: 0 10px 0 0;
    }

    &:last-child {
      padding: 0 0 0 10px;
    }
  }

  &__item {
    background-color: #eeeeee;
    margin: 0;
    border-radius: 3px;
    border-bottom: 1px solid transparent;
    text-align: center;

    &-header {
      padding: 10px 15px;
      border-bottom: 1px solid transparent;
      border-top-right-radius: 1px;
      border-top-left-radius: 1px;
      color: #FFFFFF;

      h3 {
        padding: 10px;
        font-size: 25px;
        line-height: 20px;
      }
    }

    &-time {
      padding: 20px 15px;
      font-weight: bold;
    }

    &-get-list {
      background-color: #FFFFFF;

      ul {
        margin: 0;
        padding: 10px 0;

        li {
          position: relative;
          display: block;
          background-color: #ffffff;
          font-size: 11px;
          list-style: none;

          span {
            padding: 10px 0;
            display: inline-block;
            border-bottom: 1px solid #dddddd;
          }

          &:last-child {
            span {
              border: none;
            }
          }
        }
      }
    }

    &-button {
      padding: 10px;

      .button {
        display: block;
        text-align: center;
      }
    }

    &--month {
      border: 1px solid #CD5A48;

      .tariffs__item-header {
        background-color: #CD5A48;
      }

      .button {
        background-color: #CD5A48;
        border-color: darken(#CD5A48, 15%);
      }
    }
    &--three-month {
      border: 1px solid #3A87B0;

      .tariffs__item-header {
        background-color: #3A87B0;
      }

      .button {
        background-color: #3A87B0;
        border-color: darken(#3A87B0, 15%);
      }
    }
    &--year {
      border: 1px solid #468847;

      .tariffs__item-header {
        background-color: #468847;
      }

      .button {
        background-color: #468847;
        border-color: darken(#468847, 15%);
      }
    }
  }
}